<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mongodb" connectionString="mongodb://localhost/cirqus_sample_todoomlist"/>
    <add name="mssql" connectionString="server=.; database=cirqus_sample_todoomlist; trusted_connection=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>